# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Webpack
.webpack/

# Electron-Forge
out/

# Generated Prisma Client
prisma/generated

.vscode

# Cursor (local agent rules)
.cursor

src/types/db/database.ts

localScripts
