@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);

@theme {
  --color-primary: #2a3439;
}

@layer base {
  body {
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    color: var(--color-primary);
  }
}

@import "tailwindcss/utilities.css" layer(utilities) source("../");
